body {
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

.header {
    background-color: black;
    opacity: 0.5;
    padding: 100px 100px;
    color: white;
    text-align: center;
    justify-content: start;
    font-size: 26px;
}

.addExpense {
    background-color: black;
    opacity: 0.5;
    color: white;
}

.button {
    background-color: lightblue;
    padding: 8px 26px;
    text-decoration: none;
    font-size: 16px;
}

.center {
    padding-top: 10px;
    text-align: center;
}

.inputs {
    margin-top: 30px;
    padding-bottom: 10px;
}

.txt {
    text-decoration: none;
    font-size: 30px;
}